<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .h32 {
            background-color: #43CD80;
            width: 90%;
            height: 100%;
            margin-top: 100px;
            margin-left: 20px;
            text-align: center;
            padding-top: 50px;
            border-radius: 25px;
            color: white;
            border: 4px solid #2E8B57;
        }
    </style>
</head>
<body>
    <div class="h32">
        <p><b>GPA - {{avg}} </b></p>
       <br><br>       
       
       <!--<p>Techie Tet GPA calculator</p>
       --></div>
</body>
</html>